.hZInOG > svg 
 {
    top: 0;
    right: 0;
    color: inherit;
    position: absolute;
    fill: currentColor;
    /* width: 29px;
    height: 35px; */
    width: 33px;
    height: 27px;
    display: inline-block;
    user-select: none;
    pointer-events: none;
}